<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900378190250-thbnhr9qq2qvjissdjl8160qgclvcrcc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900378190250-thbnhr9qq2qvjissdjl8160qgclvcrcc</string>
	<key>API_KEY</key>
	<string>AIzaSyDDyDP2JsnYLT1KitkiUfQLSzxA9i9Rqvg</string>
	<key>GCM_SENDER_ID</key>
	<string>900378190250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterEcommerceApp</string>
	<key>PROJECT_ID</key>
	<string>ecommarce-app-e9f23</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommarce-app-e9f23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900378190250:ios:bd8bb3f4ba4440d3f10bd3</string>
</dict>
</plist>